{%- if site.enable_google_analytics -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ window.dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{%- endif -%}
{%- if site.enable_panelbear_analytics -%}
  <!-- Panelbear Analytics - We respect your privacy -->
  <script async src="https://cdn.panelbear.com/analytics.js?site={{site.panelbear_analytics}}"></script>
  <script>
    window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
    panelbear('config', { site: '{{site.panelbear_analytics}}' });
  </script>
{%- endif -%}

{%- if site.enable_plausible_analytics and site.plausible_domain -%}
  <!-- Plausible Analytics -->
  <script defer data-domain="{{ site.plausible_domain }}" src="https://plausible.io/js/script.js"></script>
{%- endif -%}

{%- if site.enable_umami_analytics and site.umami_website_id and site.umami_src -%}
  <!-- Umami Analytics -->
  <script defer src="{{ site.umami_src }}" data-website-id="{{ site.umami_website_id }}"></script>
{%- endif -%}

{%- if site.enable_cloudflare_analytics and site.cloudflare_web_analytics_token -%}
  <!-- Cloudflare Web Analytics -->
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"{{ site.cloudflare_web_analytics_token }}"}'></script>
{%- endif -%}
